{% extends 'index.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}

    {% for field in login_form %}
        <p>
            <h1 class="text-white">{{field.label_tag}}</h1>
            {{field}}
            {% for error in field.errors %}
                <small class="text-danger">{{error}}</small>
            {% endfor %}
        </p>
    {% endfor %}
    {% if login_form.non_field_errors %}
        <p>{{login_form.non_field_errors}}</p>
    {% endif%}
    <br>
    <a href="/account/register/" class="btn btn-outline-danger btn-lg" >Register</a>
    <button class="btn btn-outline-primary btn-lg" type="submit">Login</button>
</form>
{% endblock content %}