{% extends "index.html" %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <p>
        <h1 class="text-info align-self-center">Account settings</h1>
        <div style="text-align: center;">
            <h1 class="text-white align-self-center">Username</h1>
            {{form.username}}
            <br><br>
            <h1 class="text-white align-self-center">Email</h1>
            {{form.email}}
        </div>
    </p>
    <div class="d-flex justify-content-around">
        <button style="width: 100%;" class="btn btn-outline-primary btn-lg" type="submit">Update</button>
    </div>
</form>
{% endblock content %}