{% block searchbar %}
<div class="ml-5" id="searchbar"> 
    <div class="input-group input-group-lg">
        <input id="searchword" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Search users">
        <div class="input-group-prepend">
            <button onclick="searchUser()" class="btn btn-primary" id="inputGroup-sizing-lg">Search</button>
        </div>
    </div>
    <br>
    <div id="result" class="card">
        <div class="card-body">
            <!-- T O D O -->
            <span><a href="'/profile/' + person.id" id="person_username">username</a></span>
            <span id="person_followers">followers</span>
            {% if request.user.is_authenticated %}
                {% if user.id in request.user.following.all %}
                {% else %}
                    <a id="follow" onclick="follow(event, '{{user.id}}')" type="button" class="btn btn-sm btn-primary">follow</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<br>

<script>
axios.defaults.xsrfCookieName = 'csrftoken'
axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

$('#result').hide()
var user;
function searchUser(){
    searchword = $('#searchword')

    axios.post('/search/'+searchword.val(),{})
    .then(function(response){
        $('#result').show(250)
        user = response.data
        $('#person_username').text(user.username)
        $('#person_followers').text(' | ' + user.followers + ' followers')
        if(!user.i_follow){
            $('#follow').html('follow')
        }else{
            $('#follow').html('following')
            $('#follow').classList.toggle('disabled');
        }
    })
    .catch(function(error){
        self.error = "Not found"
        console.log(error)
    })
}
function fl(e, id){
    axios.post('/follow/'+id,{})
    .then(function(response){
        console.log(response)
        e.target.classList.toggle('disabled');
        e.target.text = "Followed"
    })
    .catch(function(error){
        console.log(error)
    })
}

</script>
{% endblock searchbar %}