{% extends "index.html" %}
{% block content %}
<p>Hello {{request.user.username}}</p>

<div class="container mb-3" style="text-align: center; max-width: 42rem;">
    {% if request.user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <textarea name="content" class="form-control"></textarea>
                <div class="input-group-prepend">
                    <button class="btn btn-primary" type="submit"> Post </button>
                </div>
            </div>
        </form>
        {% for error in field.errors %}
            <small>{{error}}</small>
        {% endfor %}
        {% if post_form.non_field_errors %}
            <p>{{post_form.non_field_errors}}</p>
    {% endif%}
    {% endif %}
</div>
<div>
    {% for post in posts %}
        <div class="card container  mb-3" style="max-width: 40rem;">
            <div class="card-header bg-transparent border-success">{{post.poster}}</div>
                <div class="card-body ">
                    <h3 class="card-text">{{ post.content }}</h3>
                </div>
                <div class="card-footer bg-transparent border-success=">
                    Likes: {{ post.likes }}
                        {% if request.user.id in post.upvoters %}
                            <a type="button" class="btn btn-outline-success btn-sm disabled">Liked</a>
                        {% else %}
                            <a type="button" class="btn btn-outline-success btn-sm" href = 'like/{{post.id}}'>Like</a>
                        {% endif %}
                </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
